h3.old {
  
  color: forestgreen;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: Times New Roman;
  letter-spacing: 0.01px;
}
h3.new {
  color: purple;
  font-weight: bolder;
  font-size: 2em;
  font-family: Times New Roman;
  letter-spacing: 0.01px;
}
h1 {
  color: purple;
  text-decoration: underline;
  text-decoration-color: purple;
  font-weight: bolder;
  font-family: Times New Roman;
  letter-spacing: 0.01px;
}
img {
  width: 200px;
  height: 200px;
}
div {
  line-height: 60%;
}
.kall {
  font-family: Arial;
}